body{
    margin: 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --nav-load-animation:300ms;
}

.maindiv{
    height: 100vh;

}
.child_1{
    height: 10%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center; 
}
a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 1.5px solid  green;
}

.child_2{
    height: 80%;
    background-color: pink;
    display: flex;
}
.child_3{
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}
.cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 30px;
}
img{
    
    height: 100px;
    margin-top: -23px;
}
section{
    padding: 35px;
}
ul{
    color: wheat;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav{
    background-color: black;
    padding: 10px;
    
}